body {
    font-family: Arial, sans-serif;
    background-color: #f8d3d3;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gameContainer {
    background-color: #ffebee;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h1 {
    margin: 10px;
    font-size: 40px;
}


#hintText {
    font-size: 20px;
    margin: 10px ;
    font-weight: bold;
}

#gameArea {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: 20px 0;
}

.tile {
    width: 50px;
    height: 50px;
    border: 2px solid #ccc;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: white;
    transition: background-color 0.3s, transform 0.3s;
}

.tile.correct {
    background-color: green;
    color: white;
}

.tile.present {
    background-color: yellow;
    color: black;
}

.tile.absent {
    background-color: red;
    color: white;
}

#keyboard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 5px;
    margin: 10px 0;
}

.key {
    width: 30px;
    height: 30px;
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}


.key.correct {
    background-color: green; 
    color: white;
}

.key.present {
    background-color: yellow; 
    color: black;
}

.key.absent {
    background-color: red; 
    color: white;
}


#restartButton, button {
    margin: 10px;
    padding: 10px ;
    font-size: 18px;
    background-color: #0026ff;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#restartButton:hover, button:hover {
    background-color: #426f9e;
}

#restartButton:active, button:active {
    background-color: #003975;
    transform: scale(0.95);
    box-shadow: none;
}

#messageArea {
    margin: 10px 0;
    font-size: 18px;
    color: black;
    font-weight: bold;
}